*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url('/img/christopher-gower-291240.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}

.background--dark--green{
  background-color: #25373D;
}

.inline--block{
  display: inline-block;
}

.masking{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28,19,20, 0.7);
}

.container{
  position: relative;
  display: block;
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
}

.hero{
  background: none;
  color: #fff;
  box-sizing: border-box;
  padding: 120px 40px 40px 40px;
}

.hero__title{
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.hero__subtitle,
.portofolio__subtitle{
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

.social{
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  margin: auto
}

.social li{
  list-style: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.divider{
  display: block;
  width: 100px;
  border-bottom: 4px solid #fff;
  margin: 20px auto;
}

.about{
  margin: 80px 0 40px 0;
  padding: 40px 100px;
}

.about__title,
.skillset__title,
.portofolio__title,
.contact__title,
.experience__title{
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.about__content{
  text-align: center;
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
  text-transform: uppercase;
}

.about__divider{
  text-align: center;
  font-size: 2em;
  color: #fff;
}

.textbox{
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  max-width: 300px;
  width: 100%;
  margin: 5px auto;
  display: block;
}

.alignleft {
  float: left;
  text-align: right;
  padding: 0 10px;
}
.alignright {
  float: right;
  text-align: left;
  padding: 0 10px;
}

.clear--both{
  clear: both;
}

.skillset{
  margin: 40px 0;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  color: #fff;
}

.skillset__title{
  margin-bottom: 20px;
}

.skillset__item{
  display: block;
}

.skillset__label{
  display: inline-block;
  width: 20%;
  font-size: 1.2em;
  line-height: 3;
}

.skillset__percentage{
  width: 60%;
  font-size: 3em;
  font-weight: bold;
  vertical-align: bottom;
  letter-spacing: 10px;
}

.skillset__text{
  width: 10%;
  text-align: right;
}

.portofolio{
  color: #fff;
  margin: 40px 0;
  padding: 40px;
  box-sizing: border-box;
}
.thumbnail {
  margin-top: 40px;
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
.thumbnail div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
  max-height: 300px;
  overflow: hidden;
}
.thumbnail div img {
  width: 100%;
  height: auto;
}

img{
  width: 100%;
  display: block;
}

.experience{
  margin: 40px 0;
  padding: 40px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline__panel {
  padding: 10px 40px;
  position: relative;
  background-color: none;
  width: 50%;
}

.timeline__panel::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  right: -9px;
  background-color: #fff;
  border: 4px solid #fff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.panel--left {
  left: 0;
}

.panel--right {
  left: 50%;
}


.panel--right::after {
  left: -9px;
}

.timeline__content {
  padding: 0 30px;
  margin-bottom: 20px;
  background-color: none;
  position: relative;
  border-radius: 6px;
  color: #fff;
}

.panel--left .timeline__content{
  text-align: right;
}

.contact{
  box-sizing: border-box;
  padding: 40px 40px 80px 40px;
  color: #fff;
}

.contact label{
  text-transform: uppercase;
}

input[type=text], select, textarea {
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
    text-transform: uppercase;
    margin-bottom: 10px;
}

input[type=submit]:hover {
    background-color: #45a049;
}


@media only screen and (max-width: 320px){

  .hero__title{
    font-size: 1.8em;
  }

  .about, .skillset, .portofolio, .contact{
    padding-left: 10px;
    padding-right: 10px;
  }

  .skillset__label{
    min-width: 100px;
  }

  .skillset__percentage{
    width: 50%;
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: middle;
    letter-spacing: 0;
  }

  .thumbnail div { margin: 5px 0; }


}


@media only screen and (min-width: 321px) and (max-width: 479px){
  .hero__title{
    font-size: 2em;
  }

  .about, .skillset, .portofolio, .contact{
    padding-left: 10px;
    padding-right: 10px;
  }

  .skillset__label{
    min-width: 100px;
  }

  .skillset__percentage{
    width: 60%;
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
    letter-spacing: 0;
  }

  .skillset__text{
    width: 5%;
  }

  .portofolio{
    padding:0;
  }

  .thumbnail { padding: 5px 0; }


}

@media only screen and (min-width: 480px) and (max-width: 767px){
  .hero__title{
    font-size: 3em;
  }

  .portofolio{
    padding:0;
  }
}

@media only screen and (max-width: 767px){
  .timeline::after {
    left: 22px;
  }

  .timeline__panel {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }


  .panel--left::after, .panel--right::after {
    left: 13px;
  }

  .timeline__content{
    text-align: left !important;
    padding-left: 5px;
    padding-right: 5px;
  }

  .panel--right {
    left: 0%;
  }
}